.container {
  max-width: 500px;
  margin: 40px auto 50px;
  padding: 2px 15px;
  text-align: center;
  align-items: center;
  background-color: rgba(255, 247, 247, 0.483);
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.title {
  font-size: 42px;
  font-weight: 900;
}
