.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
}
.labelForm {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}
.formInput {
  border: none;
  background-color: rgba(236, 239, 240, 0.408);
  padding: 5px;
  width: 300px;
  font-size: 18px;
  font-weight: 500;
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.btnAdd {
  width: 150px;
  font-size: 18px;
  font-weight: 600;
  padding: 5px;
  color: rgb(3 172 169);
  text-shadow: 2px 1px 1px rgb(29, 29, 30);
  background-color: rgba(251, 239, 239, 0.163);
  border: 3px solid rgb(3 172 169);
  border-radius: 30px;
  margin: 10px 0px 20px 0px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.btnAdd:hover,
.btnAdd:hover {
  color: rgb(25, 24, 24);
  background-color: rgb(3 172 169);
  text-shadow: none;
}
